body{
    /* background-image: url("./screenshots/background.jpeg"); */
    background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: rgba(77, 72, 71, 0.128);
}



#nav {
    padding: 10px 20px;
    border-radius: 20px;
    background-color:cadetblue;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  #nav:hover {
    background-color: blue;
  }